<header class="header">
  <div class="header__menu--left">
    <nav class="header__menu">
      <ul class="header__menu-list">
        <li class="header__menu-item">
          <a class="header__menu-link header__menu-link--home" href="/">Home</a>
        </li>
      </ul>
    </nav>

    <div class="header__mobile">
      <button class="header__burger" type="button" id="sidebarToggle">
        <span>Открыть навигацию</span>
      </button>
      <h1 class="header__mobile-title">
        <a class="header__mobile-title--link" href="/">
          <span class="header__mobile-title--span">Altcoin</span>Pool.ru
        </a>
      </h1>
    </div>
  </div>

  <div class="header__menu--right">
    <nav class="header__menu">
      <ul class="header__menu-list">
        <li class="header__menu-item">
          <a class="header__menu-link header__menu-link--blocks" href="/" onclick="openBlocksPage()"
            >Blocks</a
          >
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link header__menu-link--faq" href="#">Miners</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link header__menu-link--support" href="#">Payments</a>
        </li>
      </ul>
    </nav>
  </div>

  <aside class="sidebar-mobile" id="sidebar-mobile" xmlns="http://www.w3.org/1999/html">
    <div class="sidebar-mobile--container">
      <div class="sidebar-mobile__item">
        <span class="sidebar-mobile__list-title">Main info</span>
        <ul class="sidebar-mobile__list">
          <li class="sidebar-mobile__list-item">
            <a class="sidebar-mobile__link" href="">Home</a>
          </li>
          <li class="sidebar-mobile__list-item">
            <a class="sidebar-mobile__link" href="">FAQ</a>
          </li>
          <li class="sidebar-mobile__list-item">
            <a class="sidebar-mobile__link" href="">Support</a>
          </li>
        </ul>
      </div>

      <div class="sidebar-mobile__item">
        <span class="sidebar-mobile__list-title">Pool stats</span>
        <ul class="sidebar-mobile__list">
          <li class="sidebar-mobile__list-item">
            <a class="sidebar-mobile__link" href="">Miners</a>
          </li>
          <li class="sidebar-mobile__list-item">
            <a class="sidebar-mobile__link" href="">Blocks</a>
          </li>
          <li class="sidebar-mobile__list-item">
            <a class="sidebar-mobile__link" href="">Payments</a>
          </li>
        </ul>
      </div>

      <div class="sidebar-mobile__item">
        <span class="sidebar-mobile__list-title">Socials</span>
        <ul class="sidebar-mobile__list">
          <li class="sidebar-mobile__list-item">
            <a class="sidebar-mobile__link" href="">Discord</a>
          </li>
          <li class="sidebar-mobile__list-item">
            <a class="sidebar-mobile__link" href="">Telegram</a>
          </li>
          <li class="sidebar-mobile__list-item">
            <a class="sidebar-mobile__link" href="">Youtube</a>
          </li>
        </ul>
      </div>
    </div>
  </aside>
</header>
